body {
    font-family: "Poppins", sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
}

header {
    background-color: #032602;
    color: #fff;
    padding: 30px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
    color: #43d91a;
}

header p {
    margin-top: 10px;
    font-size: 1.2rem;
}

.btn-primary {
    background-color: #43d91a;
    border: none;
    padding: 10px 20px;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.btn-primary:hover {
    background-color: #318c23;
}

/* Estilo do menu de navegação */
.navbar {
    background-color: #032602;
}

.navbar-brand,
.nav-link {
    color: #f2c744 !important;
}

.nav-link:hover {
    color: #43d91a !important;
}

/* Seção O que o sistema pode fazer */
.features-section {
    padding: 60px 20px;
    background-color: #f0f8ff;
    text-align: center;
}

.features-section h2 {
    font-size: 2rem;
    color: #032602;
    margin-bottom: 40px;
}

.features-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.feature-box {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s;
}

.feature-box:hover {
    transform: translateY(-10px);
}

.feature-box i {
    font-size: 2.5rem;
    color: #43d91a;
    margin-bottom: 15px;
}

.feature-box h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.feature-box p {
    color: #333;
    font-size: 1rem;
}

/* Seção sobre o sistema */
.about-section {
    padding: 60px 20px;
    background-color: #eaf6f6;
    text-align: left;
}

.about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.about-text {
    flex: 1;
    padding-right: 20px;
}

.about-text h2 {
    color: #032602;
    font-size: 2rem;
}

.about-text p {
    font-size: 1.1rem;
    color: #333;
    margin-top: 10px;
    line-height: 1.6;
}

.about-image {
    flex: 1;
    text-align: center;
    margin-top: 20px; /* Adicionando margem superior para espaçar do texto */
}

.about-image img {
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Seção Quem Somos */
.who-we-are-section {
    padding: 60px 20px;
    background-color: #558542;
    text-align: center;
}

.who-we-are-section h2 {
    font-size: 2rem;
    color: #032602;
    margin-bottom: 20px;
}

.who-we-are-section p {
    font-size: 1.1rem;
    color: #333;
    line-height: 1.6;
}

.who-we-are-section img {
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

/* Seção Forças Alertadas */
.forces-section {
    padding: 60px 20px;
    background-color: #eaf6f6;
    text-align: center;
}

.forces-section h2 {
    font-size: 2rem;
    color: #032602;
    margin-bottom: 40px;
}

.forces-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.force-box {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s;
}

.force-box:hover {
    transform: translateY(-10px);
}

.force-box i {
    font-size: 2.5rem;
    color: #43d91a;
    margin-bottom: 15px;
}

.force-box h4 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.force-box p {
    color: #333;
    font-size: 1rem;
}

footer {
    background-color: #032602;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 0;
    font-size: 1rem;
}